body {
    background-image: url('../imagenes/about.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #cccccc; 
    color: rgb(235, 229, 229); 
    text-shadow: 2px 2px 4px #000000;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.content {
    padding: 50px;
    text-align: center;
}


.navbar {
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 15px 20px;
    position: sticky; 
    top: 0;
    z-index: 1000;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

/* Estilo del logo o marca */
.navbar-brand {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
}

/* Lista de enlaces */
.navbar-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; /* Alinea los enlaces horizontalmente en escritorio */
}

.navbar-links li {
    margin-left: 20px;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

.navbar-links a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

/* Botón de hamburguesa (oculto en escritorio) */
.navbar-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.navbar-toggle .bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    transition: 0.4s;
}

#parrafo{
    height: 300px;
}

.content_main{
    max-width: 900px;
    background-color: rgba(184, 155, 60, 0.342);
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.quienes-somos{
    color: #fbffca; 
    text-align: center;
    margin-bottom: 20px;
}

.quienes-somos p {
    font-size: 1.1em;
    margin-bottom: 15px;
}

.pie-pagina{
    text-align: center;
}

.card {
    background-color: #14213D !important;
    color: #E5E5E5 !important;
}

.card small.text-muted {
    color: #CCCCCC !important;
}
.card {
    background-color: #14213D !important;
    color: #E5E5E5 !important;
    transition: box-shadow 0.3s ease, transform 0.3s ease, border 0.3s ease;
    border: 2px solid transparent;
}

.card:hover {
    border: 2px solid #FCA311;
    box-shadow: 0 0 20px 5px #FCA311;
    transform: translateY(-3px);
}

.card small.text-muted {
    color: #CCCCCC !important;
}

