body {
    background-image: url('../imagenes/about.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #cccccc; 
    color: rgb(235, 229, 229); 
    text-shadow: 2px 2px 4px #000000;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.content {
    padding: 50px;
    text-align: center;
}


#parrafo{
    height: 300px;
}

.content_main{
    max-width: 900px;
    background-color: rgba(184, 155, 60, 0.342);
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.quienes-somos{
    color: #fbffca; 
    text-align: center;
    margin-bottom: 20px;
}

.quienes-somos p {
    font-size: 1.1em;
    margin-bottom: 15px;
}

.pie-pagina{
    text-align: center;
}

.card {
    background-color: #14213D !important;
    color: #E5E5E5 !important;
}

/* Estilo para el texto y los enlaces del navbar */
.navbar-custom {
    background-color: rgba(44, 62, 80, 0.95);
}

.card small.text-muted {
    color: #CCCCCC !important;
}
.card {
    background-color: #14213D !important;
    color: #E5E5E5 !important;
    transition: box-shadow 0.3s ease, transform 0.3s ease, border 0.3s ease;
    border: 2px solid transparent;
}

.card:hover {
    border: 2px solid #FCA311;
    box-shadow: 0 0 20px 5px #FCA311;
    transform: translateY(-3px);
}

.card small.text-muted {
    color: #CCCCCC !important;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: #ffffff;
    font-weight: bold;
}


.navbar-custom .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.75)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-custom .nav-link.active {
    color: #ffffff; 
    font-weight: bold; 
}

.navbar-custom .nav-link.disabled {
    color: rgba(255, 255, 255, 0.5); 
}


.navbar-custom .nav-link:hover {
    color: #FCA311; 
}

