body {
    background-image: url('../imagenes/fondo_contact.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #cccccc; 
    color: white; 
    text-shadow: 2px 2px 4px #000000;
    margin: 0;
    font-family: sans-serif;
}

.content {
    padding: 50px;
    text-align: center;

}

/* Estilo para el texto y los enlaces del navbar */
.navbar-custom {
    background-color: rgba(44, 62, 80, 0.95);
}


.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: #ffffff;
    font-weight: bold;
}


.navbar-custom .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.75)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-custom .nav-link.active {
    color: #ffffff; 
    font-weight: bold; 
}

.navbar-custom .nav-link.disabled {
    color: rgba(255, 255, 255, 0.5); 
}


.navbar-custom .nav-link:hover {
    color: #FCA311; 
}


#parrafo{
    height: 10px;
}

form {
            background-color: white;
            padding: 25px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            
        }
        label {
            display: block;
            margin-bottom: 5px;
            color: #555;
            text-shadow: none;
        }
        input[type="email"],
        textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
        }
        button {
            width: 100%;
            padding: 10px;
            background-color: #007BFF;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
        }
        button:hover {
            background-color: #0056b3;
        }
.pie-pagina{
    text-align: center;
}