/* --- ESTILOS EXISTENTES --- */
body {
    background-image: url('../imagenes/fondo_index.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #cccccc; 
    color: white; 
    text-shadow: 2px 2px 4px #000000;
    margin: 0;
    font-family: sans-serif;
}

.content {
    padding: 50px;
    text-align: center;
}



#parrafo{
    height: 300px;
}

.caja{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 200px;
    background-color: #003e60;
    border: 2px solid #2196f3;
    margin-bottom: 15px;
    text-align: center;
    line-height: 40px;
    border-radius: 8px;
    font-style: italic;
    text-align: justify;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
}


.pie-pagina{
    text-align: center;
}

/* Estilo para el texto y los enlaces del navbar */
.navbar-custom {
    background-color: rgba(44, 62, 80, 0.95);
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: #ffffff;
    font-weight: bold;
}

.navbar-custom .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.75)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-custom .nav-link.active {
    color: #ffffff; 
    font-weight: bold; 
}

.navbar-custom .nav-link.disabled {
    color: rgba(255, 255, 255, 0.5); 
}

.navbar-custom .nav-link:hover {
    color: #FCA311; 
}